/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Imagely
Version: 2.13

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/

.ngg-gallery-thumbnail,
.ngg-album-compactbox,
.ngg-album-compactbox:after, 
.ngg-album-compactbox:before {
    border: none;
}
.ngg-album-compactbox {
    padding: 0 !important;
}
.ngg-album-compactbox .Thumb {
    margin: 0px !important;
    padding: 0px 0 0 0 !important;
    width: 150px;
    height: 122px;
    border: none;
}
